div.floated {
	width: 400px;
	float: left;
	margin-left: 1em;
}

div#myElement {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	background-color: #f9f9f9;
	float: left;
}

div#myOtherElement {
	width: 200px;
	height: 20px;
	overflow: hidden;
	border: 1px solid black;
	background-color: #f9f9f9;
}

div#myOtherElement span, div#myOtherElement a {
	display: block;
	padding: 0 3px;
}

div#myOtherElement a:hover {
	background: #f5f5f5;
}