[submodule "UnitTester"]
	path = UnitTester
	url = git://github.com/anutron/mootools-unittester.git
[submodule "Tests/UnitTester"]
	path = Tests/UnitTester
	url = git://github.com/anutron/mootools-unittester.git
[submodule "Specs"]
	path = Specs
	url = git@github.com:mootools/mootools-core-specs.git
