.preview {
	float: left;
	width: 177px;
	height: 180px;
	margin: 4px;
	padding: 5px;
	text-align: center;
	background-color: #F9F9F9;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.preview img {
	margin: 0;
}

.preview span { 
	display: block;
	font-size: 11px; 
	margin-bottom: 4px;
}

.popular {
	color: #2e8531;
	font-weight: bold;
}

.SUPERpopular {
	font-weight: bold;
	color: #d62222;
}

.normal {
	font-weight: bold;
}