#accordion {
	margin: 20px 0;
}

.toggler {
	color: #222;
	margin: 0;
	padding: 2px 5px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	font-size: 11px;
	font-weight: normal;
	font-family: 'Andale Mono', sans-serif;
	cursor: pointer;
}

.element p {
	margin: 0;
	padding: 4px;
}

.float-right {
	padding: 10px 20px;
	float: right;
}

blockquote {
	text-style: italic;
	padding: 5px 0 5px 30px;
}