#accordion {
	margin:20px 0px;
}

h3.toggler {
	cursor: pointer;
	border: 1px solid #f5f5f5;
	border-right-color: #ddd;
	border-bottom-color: #ddd;
	font-family: 'Andale Mono', sans-serif;
	font-size: 12px;
	background: #D2E0E6;
	color: #528CE0;
	margin: 0 0 4px 0;
	padding: 3px 5px 1px;
}

div.element p, div.element h4 {
	margin:0px;
	padding:4px;
}

blockquote {
	padding:5px 20px;
}