div.floated {
	width: 400px;
	float: left;
	margin-left: 1em;
}

input#myElement, div#myScrollElement {
	border: 1px solid black;
	background-color: #f9f9f9;
	float: left;
	margin: 5px;
	padding: 3px;
	width: 134px;
}
div#myDivElement {
	clear: left;
	width: 150px;
}

div#myScrollElement {
	width: 200px;
	height: 200px;
	overflow: auto;
	float: left;
	background-color: #e8a3a3;
}
div#myScrollElement div {
	height: 500px;
}

div#myOtherDivElement {
	margin-top: 10px;
	font-weight: bold;
	float: left;
}