textarea {
	float: left;
	background: #f8f8f8;
	border: 1px solid #d6d6d6;
	border-left-color: #e4e4e4;
	border-top-color: #e4e4e4;
	padding: 0.3em;
	margin-top: 10px;
	overflow: auto;
}
 
#log {
	float: left;
	padding: 0.5em 0em 0.2em;
	margin-left: 10px;
	width: 290px;
	height: 50px;
	border: 1px solid #d6d6d6;
	border-left-color: #e4e4e4;
	border-top-color: #e4e4e4;
	margin-top: 10px;
	visibility: hidden;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}